// .eslintignore
android/*
ios/*
build/*
dist/*

web-build/*
.expo/*
.expo-shared/*

**/node_modules/*
**/.expo/*
**/out/*

babel.config.js
metro.config.js
index.js

src/setupTests.js
src/service-worker.js
src/serviceWorkerRegistration.js
src/reportWebVitals.js
src/__tests__/*
src/__mocks__/*

src/setupTests.ts
src/service-worker.ts
src/serviceWorkerRegistration.ts
src/reportWebVitals.ts
